.inc-sheet {
    visibility: hidde;
}

.inc-sheet .sheet-content .add-form button {
    background-color: var(--primary-green);
}

.inc-sheet .sheet-content .add-form button:hover {
    background-color: var(--secondary-green);
}

.inc-sheet .sheet-list ul li p {
    background-color: var(--primary-green);
}