@media only screen and (max-width: 1024px) {
    .logo img {
        width: 100px;
    }

    .main-nav {
        display: none;
    }

    .safe-to-spend h3 {
        font-size: 150%;
    }

    .overview .inc,
    .overview .rate {
        grid-column: 1/3;
    }

    .overview .exp,
    .overview .savings {
        grid-column: 3/5;
    }

    .results .card {
        grid-column: 1/5;
    }
}

@media only screen and (max-width: 768px) {
    .safe-to-spend {
        box-shadow: none;
        padding: 10px 0px;
        border-radius: 0px;
        margin: 0px;
    }

    .safe-to-spend h3 {
        font-size: 120%;
    }

    .safe-to-spend span {
        font-size: 180%;
    }

    .sidebar {
        display: none;
    }

    .mobile-bar {
        display: flex;
    }

    .results {
        margin-bottom: 80px;
    }

    .sheet .sheet-content ul li button {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 414px) {
    header {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        height: 75px;
        position: fixed;
    }

    .card {
        height: 200px;
    }

    .app-body,
    .app-content,
    .container {
        background-color: var(--container-color);
        overflow: unset;
        height: 100vh;
        position: absolute;
        width: 100vw;
    }

    .container {
        padding: 60px 10px;
    }

    
    .dark-mode-label {
        display: none;
        margin: 5px 25px 0 0;
    }
    
    .logo {
        display: non;
    }
    
    .logo img {
        width: 100px;
    }
    
    .safe-to-spend {
        display: non;
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
        border-radius: 0px;
        margin: 0px;
    }
    
    .safe-to-spend h3 {
        font-size: 100%;
    }

    .safe-to-spend span {
        font-size: 200%;
    }
    
    .sheet .top h1 {
        font-size: 26px;
    }
    
    .sheet {
        position: fixed;
        padding: 30px 20px;
        z-index: 4;
        padding-bottom: 85px;
        width: 100vw;
    }

    .sheet-content {
        height: 100%;
    }

    .sheet-content ul li {
        padding: 0;
    }

    .sheet .clear-btn {
        position: fixed;
        bottom: 15%;
        left: 40%;
    }

    .sheet .close-sheet {
        background-color: transparent;
        font-size: 200%;
    }

    .sheet .clear-btn {
        bottom: 15%;
        left: 38%;
    }
    
    .card-header p,
    .card-header p button {
        font-size: 100%;
    }
    
    .sidebar {
        display: none;
    }
    
    .mobile-bar {
        display: flex;
    }

    .overview {
        margin-top: 30px;
    }

    .overview .card-header {
        padding: 20px;
        margin: 10px 0;
    }

    .overview .inc,
    .overview .rate,
    .overview .exp,
    .overview .savings {
        grid-column: 1/5;
    }

    .results .card {
        grid-column: 1/5;
    }
    
    .title h2 {font-size: 200%;}

    .overview,
    .results {
        gap: 20px;
        padding: 30px 10px;
    }

    .results .card {
        height: 300px;
    }

    .results .card .content {
        font-size: 150%;
    }

    .results .history {
        margin-bottom: 100px;
    }

    .savings-rate {
        position: fixed;
    }

    .savings-card {
        width: 95%;
        height: 250px;
    }
}