@media only screen and (max-width: 1024px) {
    .logo img {
        width: 100px;
    }

    .main-nav {
        display: none;
    }

    .safe-to-spend h3 {
        font-size: 150%;
    }
    
    .safe-to-spend h3 span {
        font-size: 150%;
    }

    .overview .inc,
    .overview .rate {
        grid-column: 1/3;
    }

    .overview .exp,
    .overview .savings {
        grid-column: 3/5;
    }

    .results .card {
        grid-column: 1/5;
    }
}

@media only screen and (max-width: 768px) {
    .safe-to-spend {
        box-shadow: none;
        padding: 10px 0px;
        border-radius: 0px;
        margin: 0px;
    }

    .safe-to-spend h3 {
        font-size: 100%;
    }
    
    .safe-to-spend h3 span {
        font-size: 180%;
        vertical-align: -3px;
    }

    .sidebar {
        display: none;
    }

    .mobile-bar {
        display: flex;
    }

    .results {
        margin-bottom: 80px;
    }

    .sheet .sheet-content ul li button {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 414px) {
    header {
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 60px;
    }

    .dark-mode-label {
        display: block;
        margin: 5px 25px 0 0;
    }
    
    .logo {
        display: none;
    }
    
    .logo img {
        width: 100px;
    }
    
    .safe-to-spend {
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
        border-radius: 0px;
        margin: 0px;
    }

    .safe-to-spend h3 {
        font-size: 110%;
    }
    
    .safe-to-spend h3 span {
        font-size: 180%;
        vertical-align: -3px;
    }

    .container {
        padding: 10px;
    }

    .app-body {
        flex-flow: column-reverse;
    }

    .sheet {
        width: 100vw;
    }

    .sheet .top h1 {
        font-size: 26px;
    }

    .sheet .clear-btn {
        bottom: 15%;
        left: 38%;
    }

    .card-header p,
    .card-header p button {
        font-size: 110%;
    }

    .sidebar {
        display: none;
    }

    .mobile-bar {
        display: flex;
    }

    .overview .card-header {
        padding: 20px;
        margin: 20px 0;
    }

    .overview .inc,
    .overview .rate,
    .overview .exp,
    .overview .savings {
        grid-column: 1/5;
    }

    .results .card {
        grid-column: 1/5;
    }
    
    .title h2 {font-size: 200%;}

    .overview,
    .results {
        gap: 30px;
        padding: 30px 10px;
    }

    .results .card {
        height: 300px;
    }
}