.settings-sheet {
    visibility: hidden;
}

.settings-sheet ul {
    margin-top: 60px;
}

.settings-sheet ul li {
    display: flex;
    flex-flow: row;
    margin: 30px 0;
}

.settings-sheet ul li h2 {
    font-size: 130%;
    text-transform: capitalize;
    font-weight: 600;
    flex: 1;
}

.settings-sheet ul li input {
    display: none;
}

.settings-sheet ul li button {
    font-size: 110%;
    color: #fff;
    background-color: var(--primary-red);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: position .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--card-color);
    transition: position .2s;
}

input:checked + .slider {
    background-color: var(--primary-green);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-green);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}